{% extends 'base.html.twig' %}

{% block title %}Hello CuentasController!{% endblock %}

{% block body %}
<div class="text-center my-5 ">
  <a id="btnAgregar" type="button" class="btn btn-primary">Agregar Cuenta</a>
</div>
<div class="container mt-5">
<h4>Estas son las cuentas agregadas en la partida</h3>
<hr>
<table id='tablacuentas' class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NumeroDeCuenta</th>
      <th scope="col">Nombre</th>
      <th scope="col">Debe</th>
      <th scope="col">Haber</th>
      <th colspan='3' class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   
   
  </tbody>
</table>
</div>

<script src="/js/cuentas.js"></script>
{% endblock %}
