{% extends 'base.html.twig' %}

{% block title %}Registrar Estado de Resultados{% endblock %}

{% block body %}
    <div class="container">
        <div class="example-wrapper">
            <h1>Registrar Estado de Resultados</h1>
            {{form(form)}}
        </div>
    </div>
{% endblock %}
